<!-- edit location -->

<div class="container">
  <%=  simple_form_for([:users, @location]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :size %>
  <%= f.input :capacity %>
  <%= f.input :price %>

  <!-- Should be done with algolia later -->
  <%= f.input :lat, input_html: {value: f.object.lat || '52.520007'} %>
  <%= f.input :lng, input_html: {value: f.object.lat || '13.404954'} %>

  <%= f.input :location_type, as: :select, collection: ["Bar", "Restaurant", "Club", "Other"] %>
  <%= f.input :occasion, as: :select, collection: ["Wedding", "Birthday", "Corporate", "Family", "Other"] %>
  <%= f.input :accessible %>
  <%= f.input :catering %>
  <%= f.input :parking %>
  <%= f.input :smoking %>
  <%= f.input :music %>
  <%= f.button :submit %>
  <% end %>
</div>
