<!-- show all the locations the current_user is owning / providing -->

<div class="container content-body">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "Post a new location", new_users_location_path, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-8">
      <h3 id="location-head">Location available for booking on the following dates:</h3>
    </div>
  </div>
  <br>

  <% @locations.each do |l| %>
  <div class="row">
    <div class="col-xs-4">
      <div class="cards-container">
        <div class="row card-info">
          <%= link_to location_path(l) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path l.photo %>);">
            <div class="card-description">
              <h4><%= l.name%></h4>
            </div>
            <div class="card-category">
              <h5> <%= l.location_type %> </h5>
            </div>
          </div>
          <% end %>
        </div>
        <div class="row card-buttons">
          <i class="far fa-calendar-alt"><%= link_to "Set Dates", users_new_availability_path(l) %></i>
          <i class="fas fa-edit"><%= link_to "Update", edit_users_location_path(l) %></i>
          <i class="far fa-trash-alt"><%= link_to "Delete", users_location_path(l), :method => :delete %></i>
        </div>
      </div>
    </div>
      <div class="col-xs-8 col-offset-4">
        <h4>Requested Availabilities</h4>

        <% l.availabilities.each do |a| %>
          <% if a.status != nil %>
            <h5>Date: <%= a.date.strftime("%A, %b %d %Y") %> | Status: <%= a.status %></h5>
            <%= link_to "Accept Renter",  users_accept_availability_path(a), :method => :patch, class: "btn btn-success btn-sm" %>
            <%= link_to "Discard Renter",  users_decline_availability_path(a), :method => :patch, class: "btn btn-warning btn-sm" %>
            <%= link_to "Delete Availability", users_destroy_availability_path(a), :method => :delete,  class: "btn btn-danger btn-sm" %>
            <br>
            <br>
          <% end %>
        <% end %>

        <h4>Open Availabilities</h4>
        <% l.availabilities.each do |a| %>

          <% if a.status.nil? %>
            <h5>Date: <%= a.date.strftime("%A, %b %d %Y") %> <%= a.status %></h5>
            <%= link_to "Set unavailable", users_destroy_availability_path(a), :method => :delete,  class: "a-button btn btn-danger btn-sm" %>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
