<!-- create new location -->

<div class="container">
  <br>
  <div class="row">
    <%= simple_form_for([:users, @location]) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :size %>
    <%= f.input :capacity %>
    <%= f.input :price %>
    <%= f.input :address, input_html: { id: 'location_address' } %>
    <%= f.input :location_type, as: :select, collection: ["Bar", "Restaurant", "Club", "Other"] %>
    <%= f.input :occasion, as: :select, collection: ["Wedding", "Birthday", "Corporate", "Family", "Other"] %>
    <%= f.input :accessible %>
    <%= f.input :catering %>
    <%= f.input :parking %>
    <%= f.input :smoking %>
    <%= f.input :music %>
    <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
  <br>
</div>
