<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="<%= image_path 'Logo.jpg'%>"" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm navbar-wagon-item navbar-wagon-link">

    <% if user_signed_in? %>

    <%= link_to "Create a new offering", new_users_location_path, class: 'button_navbar'%>
    <%= link_to "Go to your Dashboard", users_locations_path, class: 'button_navbar', id: "button_new"%>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <img src="<%= image_path 'profile.jpg' %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Your Bookings", users_my_bookings_path%></li>
          <li><%= link_to "Your Offerings", users_locations_path%></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
