<div class="container" id="main">
  <div class="header">
    <h2> Available Locations</h2>
    <p>______________________________________________________________________________</p>
  </div>

  <div class="main-container">


    <div class="cards-container">
      <div class="row">
        <% @locations.each do |location| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to location_path(location) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path location.photo%>')">
              <div class="card-description">
                <h5><%= location.name%></h5>
              </div>
              <div class="card-category">
                <h6> <%= location.location_type %> </h6>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="map"
    style= "height: 820px;"
    data-markers="<%= @markers.to_json %>"></div>

  </div>
</div>
