<div class="container" id="main">
  <div class="header">
    <h2> Available Locations</h2>
    <p>______________________________________________________________________________</p>
  </div>



<div id="filter-container">
  <div> <%= form_tag locations_path, method: :get do %>
      <input type="text" name='location' value="<%= params[:location] %>" id="filter-component">
       <% location_types = %w(Bar Restaurant Club Other) %>
      <select name="location_type" id="filter-component">
        <option value="">All</option>
        <% location_types.each do |location_type| %>
          <option value="<%= location_type %>" <%= 'selected' if location_type == params[:location_type] %> ><%= location_type %></option>
        <% end %>
      </select>
      <% occasions = %w(Wedding Birthday Corporate Family Other) %>
      <select name="occasion" id="filter-component">
        <option value="">All</option>
        <% occasions.each do |occasion| %>
          <option value="<%= occasion %>" <%= 'selected' if occasion == params[:occasion] %> ><%= occasion %></option>
        <% end %>
      </select>

    <!-- <div id="filter-button"> -->
    <%= submit_tag("Search") %>
    <!-- </div> -->
    <!-- <button type="submit" form="form1" value="Submit">Submit</button> -->
    <% end %>
</div>
</div>




  <div class="main-container">
    <div class="cards-container">
      <div class="row">
        <% @locations.each do |location| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to location_path(location) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path location.photo%>')">
              <div class="card-description">
                <h5><%= location.name%></h5>
              </div>
              <div class="card-category">
                <h6> <%= location.location_type %> </h6>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="map"
    style= "height: 820px;"
    data-markers="<%= @markers.to_json %>"></div>

  </div>
</div>
